@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  background-color: #1c1c1c;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  position: fixed;
  background-color: #1f2937;
  width: 700px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -22em;
  margin-left: -21em;
  border: 5px solid #4adf86;
  border-radius: 10px;
  padding: 5% 2.5%;
}

.container .heading h1 {
  color: white;
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 50px;
}

.container .heading p {
  color: white;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}
.container .buttons {
  display: flex;
  justify-content: space-around;
}
.container button {
  background-color: #10b981;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  width: 310px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.container button:hover {
  cursor: pointer;
  background-color: #4adf86;
  transition: 0.5s;
  color: rgb(0, 0, 0);
}

.container .pwdSpace {
  display: flex;
  justify-content: space-around;
}
.container .pwdSpace button {
  background-color: #273549;
  width: 340px;
  height: 50px;
  margin-top: 80px;
  border: 1px solid rgba(255, 255, 255, 0.252);
  border-radius: 5px;
  text-align: center;
  color: #4adf86;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  cursor: default;
}
